/* Variables (Custom Properties)
============================ */
:root {
  --primary--white: #F9F7FB;
  --primary--black: #0c2231;
  --secondary--black: #2a2a22;
  --tertiary--black: #444e56;
  --primary--purple: #0894BD;
  --placeholder-grey: #a4b0be;
  --required--grey: #E3E1E5;
  --warning-red: #b33939;
  --font-stack-headings: 'Tinos', 'Times New Roman', Times, serif;
}

html{
  -webkit-box-sizing: border-box;
        box-sizing: border-box;
  font: 1em/1.5 'Josefin Slab', 'Times New Roman', Times, serif;
}

/* TESTING REM GLOBAL MARGIN, AND REMOVING ALL MARGIN TOPS */
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,legend,
.form__field {
    margin-bottom: 1.5rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: var(--primary--white);
  background-color: #F3F6F8;
}

h1, h2, h3, h4, h5, h6, .header--info, legend {
  font-family: 'Tinos', 'Times New Roman', Times, serif;
}


button, input, select, textarea {
  font-size: 100%;
  font-family: inherit;
}

.container,
.header__signup {
  padding: 0 3%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.header,
.footer {
  text-align: center;
}

.header__intro {
  background-color: var(--primary--purple);
  background-color: #304D6D;
  /* I follow the CSS Wizards advice on declaring longhand for clarity and a better grip on the projects cascade.
  link to article: https://csswizardry.com/2016/12/css-shorthand-syntax-considered-an-anti-pattern/ */
  padding-top: .1em;
  padding-bottom: .2em;
}

.header__info {
  color: #444e56; /* IE11 fallback */
  color: var(--tertiary--black);
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.2;
}

.header__divider {
  height: 2px;
  border-top-color: #444e56; /* IE11 fallback */
  border-top: 4px solid  var(--tertiary--black);
  border-right: none;
  border-bottom-color: #444e56; /* IE11 fallback */
  border-bottom: 2px solid  var(--tertiary--black);
  border-left: none;
}

/* Headings
============================ */

.heading {
  font-weight: 700;
  letter-spacing: 0.2px;
}

.heading--large  {
  color: var(--primary--white);
  text-transform: uppercase;
  font-size: 1.8em;
}

.heading--medium {
  color: var(--primary--black);
  font-size: 1.5em;
  line-height: 1.2;
}

.heading--small {
  font-size: 1.35em;
  color: var(--secondary--black);
  line-height: 1.3;
}

/* Sections
============================ */

/* Styles for the legend section counter */
.form {
  counter-reset: steps;
}

legend {
  counter-increment: steps;
}

legend::before {
  content: counter(steps) ". ";
  color: var(--primary--purple);
  color: #304D6D;
}

.form__section {
  padding: 0;
  border-width: 0;
}

.form__section:nth-of-type(1){
  /* TODO: Change color, do not use primary black, because it does not fit so good with the heading below */
  border-bottom: 2px solid var(--primary--black);
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__field--newsletter {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__label {
  font-size: 1.15em;
  font-weight: 600;
  /* TODO: FIX VARIABLE FOR THIS COLOR */
  color: #444e56;
  color: var(--secondary--black);
}

/* Styles for textarea label heading, margin-bottom is set to the same as default headings bottom margins */
.label__margin {
  display: inline-block;
  margin-bottom: 1.5rem;
}

/* TODO: Rename? Yes... NO, input[attribute selector] is good and explanatory*/
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
select {
  background-color: #EEF7FF;
  padding: .6em 3%;
  border: 2px solid;
  border-radius: .2em;
  font-size: 1.125em;
  -webkit-transition: .6s ease-in-out;
  -o-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../img/arrow_up_and_down.svg) no-repeat right/20px #EEF7FF;
}

textarea {
  background-color: #F3F6F8;
  border: 2px solid #304D6D;
  border-radius: .2em;
  padding: .6em 3%;
  font-size: 1.125em;
  -webkit-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  transition: .5s ease-out;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
select {
  min-height: 44px;
  border-left: 5px solid;
  border-left: 3px solid;
}

input[name="user_zip"] {
  width: 50%;
}

textarea {
  overflow: auto;
  width: 100%;
  height: 6em;
  resize: none;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  color: #4D7A7B;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: .8em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 0;
}

/* Remove outlines in IE Edge */
input:required:invalid {
    outline: none;
}

/*  Remove outlines in Firefox */
input:invalid {
    -webkit-box-shadow: none;
            box-shadow: none;
}

input:required:focus,
input:optional:focus,
textarea:focus {
  background-color: #fff;
}

select:focus {
  background: url(../img/arrow_up_and_down.svg) no-repeat right/20px #fff;
}

input:required,
input:optional:invalid  {
  background-color: #DEF0FF;
  border-left-width: 8px;
  border-color: #C793A2;
  /* border-color: var(--warning-red); */
}

/* input:required:invalid, */
input:focus:invalid,
input:focus:optional:invalid
{
  border-left-width: 8px;
  border-color: #b33939;
  border-color: var(--warning-red);
}

input:required:valid,
input:focus:valid,
input:optional:valid,
select {
  border-color: #7EDFB6;
  border-left-width: 8px;
}

input:optional:focus,
select:focus {
  border-left-width: 8px;
  border-color: #68B795;
}

/* Ignore Google Chromes background color when autofill suggestion is selected */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #DEF0FF inset;
}

input::-webkit-input-placeholder {
  color: var(--placeholder-grey);
  text-align: right;
  font-weight: 400;
  font-style: italic;
  /* placeholder pseudo element is a child of input,
  so we need to set the font size relative to its parent */
  font-size: .9em;
}

input:-ms-input-placeholder {
  color: var(--placeholder-grey);
  text-align: right;
  font-weight: 400;
  font-style: italic;
  /* placeholder pseudo element is a child of input,
  so we need to set the font size relative to its parent */
  font-size: .9em;
}

input::-ms-input-placeholder {
  color: var(--placeholder-grey);
  text-align: right;
  font-weight: 400;
  font-style: italic;
  /* placeholder pseudo element is a child of input,
  so we need to set the font size relative to its parent */
  font-size: .9em;
}

input::placeholder {
  color: var(--placeholder-grey);
  text-align: right;
  font-weight: 400;
  font-style: italic;
  /* placeholder pseudo element is a child of input,
  so we need to set the font size relative to its parent */
  font-size: .9em;
}

/* IE Edge */
input:invalid::-webkit-input-placeholder {
  /* TODO: Set red to variable */
  color: #b33939; /* IE11 fallback :( */
  color: var(--warning-red);
}

input:invalid:-ms-input-placeholder {
  color: #b33939; /* IE11 fallback :( */
  color: var(--warning-red);
}

input:invalid::-ms-input-placeholder {
  color: #b33939; /* IE11 fallback :( */
  color: var(--warning-red);
}

input:invalid::placeholder {
  color: #b33939; /* IE11 fallback :( */
  color: var(--warning-red);
}

input:hover,
select:hover {
  background-color: #CDE9FF;
}

/* TODO: FIX BEM */
.form__submit-btn {
  border: none;
  display: block;
  cursor: pointer;
  padding: .5em 0;
  width: 100%;
  border-radius: .2em;
  background-color: #304D6D;
  color: var(--primary--white);
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.8em; /* 150% / 24px; */
  -webkit-transition: opacity ease-in-out .5s;
  -o-transition: opacity ease-in-out .5s;
  transition: opacity ease-in-out .5s;
}

.form__submit-btn:hover {
  opacity: .75;
}

/* Styles for orientation landscape, tested for iPhone 5, 6, 6plus, X etc. Left out tablet landscape, because splitting up the form into two columns just to fill up screen width is, imo a bad thing */
@media (max-height: 415px) and (orientation: landscape) {

  html {
    font-size: .8em;
  }

  body {
    /* TODO: Remove before submit */
    background: lightskyblue;
  }

  .header__divider {
    border-top-width: 2px;
    border-bottom-width: .5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  select,
  textarea {
    font-size: 1.2em;
  }

  input[name="user_zip"] {
    width: 25%;
  }
}

@media (min-height: 416px) and (min-width: 760px) {

  html {
    font-size: 1.1em;
  }

  .header__intro {
    padding-bottom: 1.3em;
  }

  .form__field {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__label {
    font-size: 1.2em;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="url"],
  select,
  textarea {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 75%;
            flex: 1 1 75%;
  }

  label[for="zip"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }

  input[name="user_zip"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

@media (min-width: 1024px) {

  html {
    font-size: 1.3em;
  }

  .container,
  .header__signup {
    max-width: 900px;
  }

  .form__label {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
  }

  label[for="zip"] {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}