* {
  box-sizing: border-box;
}

body, input {
  font-family: 'Josefin Slab', serif;
}

h1, h2, h3, h4, h5, h6, .info, legend {
  font-family: 'Tinos', Times, "Times New Roman", serif;
}

/*  */
button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}

textarea {
  vertical-align: top;
}
/*
TODO: Read and remove
The text fields require some common rules. Simply put, we remove their borders and backgrounds, and redefine their padding and margin:
*/
input {
  text-align: right;
}

input, textarea, select {
  background: #eff0f1;
}

input, textarea {
  font    : 1rem/1.5 "Josefin Slab", serif;
  border  : none;
   font-style: italic;
  font-weight: 400;
}

/*
TODO: Read and remove
When one of these fields gains focus, we highlight them with a light grey, transparent, background. Note that it's important to add the outline property, in order to remove the default focus highlight added by some browsers:
*/

input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
  outline      : none;
}

/*
TODO: Read and remove
<textarea> elements default to being rendered as a block element. The two important things here are the resize and overflow properties. Because our design is a fixed-size design, we will use the resize property to prevent users from resizing our multi-line text field. The overflow property is used to make the field render more consistently across browsers. Some browsers default to the value auto, while some default to the value scroll. In our case, it's better to be sure every one will use auto:

*/

label {

  font-weight: 400;
  color: #6c7a89;
}

textarea {
  padding : 10px;
  /* width   : 300px; */
  resize  : none;
  overflow: auto;
}

.site-header {
  text-align:center;
}

.site-heading  {
  background-color: #2d3945;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding:25px 0;
  margin: 0;
  font-weight: 700;
}

h2 {
  font-size: 1.3rem;
  margin: 25px 0 -5px;
  font-weight: 700;
}

.info {
  color: grey;
  font-size: 1rem;
  font-weight: 400;
}
/* Form  */


fieldset {
  border: none;
}

.contact-info label {
  display: block;
}

.signup {
  padding: 0 15px;
}

.divider {
  color: red;
  height: 2px;
  border-top: 4px solid #2d3945;
  border-bottom: 2px solid #2d3945;
  border-left: none;
  border-right: none;
  width: 90%;
}

.contact-info input, select {
  border-radius: 5px;
  margin: 10px 0 20px 0;
  padding: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .contact-info label {
    display: inline-block;
  }
}